<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.project.methodLog.mapper.MethodLogMapper">
  <insert id="batchInsertLog" parameterType="java.util.ArrayList">
    INSERT INTO `qy_method_log_${currentDate}` 
    (   server_name, 
        method_name, 
        params,
        return_val,  
        cost_time,
        exception, 
        create_time
      )
    VALUES 
   <foreach collection="logs" index="index" item="item" separator=",">
     ( 
     	#{item.serverName,jdbcType=VARCHAR}, 
     	#{item.methodName,jdbcType=VARCHAR}, 
     	#{item.params,jdbcType=VARCHAR}, 
     	#{item.returnVal,jdbcType=VARCHAR}, 
        #{item.costTime,jdbcType=INTEGER}, 
        #{item.exception,jdbcType=VARCHAR}, 
        now()
      )
   </foreach>
  </insert>

</mapper>